#body-grid-container {
  grid-row-gap: 20px;

  top: 110px;
}

#recipe-title-container {
  grid-column: span 5;
  order: 1;

  height: auto;

  text-align: center;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: white;

  /* border: 1px dashed white; */
}

#ingredient-container {
  grid-column: span 2;
  order: 2;

  height: 400px;

  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: white;

  /* border: 1px dashed white; */
}

#ingredient-title {
  position: relative;

  width: 100%;
  height: auto;
  margin-bottom: 20px;
  padding-bottom: 5px;

  text-align: center;
  font-size: 20px;

  border-bottom: 1px solid rgb(76, 211, 182);
}

ul {
  list-style: none;
}

li {
  padding-bottom: 6px;
}

.ingredient-list-container-inner {
  position: relative;
  display: inline-block;
  left: 0;
  right: 0;

  width: 100%;
  height: auto;
  margin: auto;

  text-align: left !important;

  /* border: 1px dashed white; */
}

#ingredient-list-container-left {
  position: relative;
  float: left;

  width: 50%;
  height: auto;

  /* border: 1px dashed yellow; */
}

#ingredient-list-container-right {
  position: relative;
  float: right;

  width: 50%;
  height: auto;

  /* border: 1px dashed red; */
}

#image-container {
  grid-column: span 3;
  order: 3;

  height: 400px;

  border: 1px solid rgb(76, 211, 182);

  background-color: rgb(0, 0, 0);
  background-position: center;
  background-size: cover;
}

#recipe-container {
  grid-column: span 5;
  order: 4;

  position: relative;

  height: auto;
  margin-top: 20px;

  font-family: sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: white;

  /* border: 1px dashed white; */
}

#recipe-title {
  position: relative;
  top: 0;

  width: 100%;
  height: auto;
  margin-bottom: 20px;
  padding-bottom: 5px;

  text-align: center;
  font-size: 20px;

  border-bottom: 1px solid rgb(76, 211, 182);
}

.recipe-step {
  padding-bottom: 20px;
}





/* -------------------------- MEDIA QUERY <= 1000 -------------------------- */
@media screen and (max-width: 1000px) {
  #body-grid-container {
    grid-template-columns: repeat(4, 1fr);
  }

  #recipe-title-container {
    grid-column: span 4;
    order: 1;
  }

  #image-container {
    grid-column: span 4;
    order: 2;

    height: 330px;
  }

  #ingredient-container {
    grid-column: span 4;
    order: 3;

    height: auto;
    margin-top: 20px;
  }

  .ingredient-list-container-inner {
    width: auto;
  }

  #recipe-container {
    grid-column: span 4;
    order: 4;

    /* height: auto; */
  }
}



/* -------------------------- MEDIA QUERY <= 800 -------------------------- */
@media screen and (max-width: 800px) {
  #body-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  #recipe-title-container {
    grid-column: span 3;
  }

  #image-container {
    grid-column: span 3;

    height: 290px;
  }

  #ingredient-container {
    grid-column: span 3;
  }

  #recipe-container {
    grid-column: span 3;
  }
}



/* -------------------------- MEDIA QUERY <= 600 -------------------------- */
@media screen and (max-width: 600px) {
  #body-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  #recipe-title-container {
    grid-column: span 2;
  }

  #image-container {
    grid-column: span 2;

    height: 170px;
  }

  #ingredient-container {
    grid-column: span 2;
  }

  #ingredient-list-container-left {
    width: 100%;
  }

  #ingredient-list-container-right {
    display: none;
  }

  #recipe-container {
    grid-column: span 2;
  }
}



/* -------------------------- MEDIA QUERY <= 400 -------------------------- */
@media screen and (max-width: 400px) {
  #body-grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  #recipe-title-container {
    grid-column: span 1;
  }

  #image-container {
    grid-column: span 1;

    height: 150px;
  }

  #ingredient-container {
    grid-column: span 1;
  }

  #recipe-container {
    grid-column: span 1;
  }
}
