* {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  -webkit-touch-callout: none;

  min-width: 0;
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  cursor: default;
}

html, body {
  height: 100%;

  font-family: "Roboto", sans-serif;
  font-weight: 300;

  background-color: rgb(59, 135, 118);
}

ul {
  list-style: none;
}

.hidden {
  display: none;
}

.dropdown-expand {
  transform: translateY(40px);
}

.screen-fade-out {
  opacity: 0.0 !important;
}

.screen-fade-in {
  opacity: 1.0 !important;
}

#ios-status-bar-background {
  z-index: 40;
  position: fixed;
  top: -40px;

  width: 100%;
  height: 40px;

  background-color: rgb(59, 135, 118);
}

#body-background {
  z-index: -10;
  position: fixed;
  top: 0;

  width: 100%;
  min-height: 100%;

  background-color: rgb(36, 38, 40);
}

#body-search-mask {
  z-index: -10;
  position: fixed;
  top: 0;

  width: 100%;
  min-height: 100%;

  background-color: rgba(0, 0, 0, 0.8);

  opacity: 0.0;
}

.body-search-mask-expand {
  opacity: 1.0 !important;
  transition: opacity 300ms ease-in-out;
}

.body-search-mask-retract {
  opacity: 0.0 !important;
  transition: opacity 300ms ease-in-out;
}

#main-content-container {
  z-index: 10;

  min-height: 100%;
  padding-bottom: 150px;

  background-color: rgb(36, 38, 40);
}

.main-content-container-expand {
  padding-bottom: 190px !important;
  transition: padding-bottom 300ms ease-in-out;
}

.main-content-container-retract {
  padding-bottom: 150px !important;
  transition: padding-bottom 300ms ease-in-out;
}

.main-content-container-expand-recipe {
  padding-bottom: 230px !important;
  transition: padding-bottom 300ms ease-in-out;
}

.main-content-container-retract-recipe {
  padding-bottom: 190px !important;
  transition: padding-bottom 300ms ease-in-out;
}

#navbar {
  z-index: 30;
  position: fixed;
  top: 0;

  width: 100%;
  height: 70px;

  background-color: rgb(59, 135, 118);

  -webkit-user-select: none;
  user-select: none;

  transition: transform 300ms ease-in-out;
}

#hamburger-menu {
  z-index: 30;
  position: absolute;
  top: 17px;
  left: 19px;

  width: 27px;

  cursor: pointer;
}

.hamburger-bar {
  position: relative;
  left: 0;
  right: 0;

  width: 25px;
  height: 2px;
  margin: 6px auto;

  color: white;

  border-radius: 10px;
  background-color: white;

  cursor: pointer;

  transition: transform 300ms ease-in-out, width 300ms ease-in-out, opacity 300ms ease-in-out;
}

.rotate-bar-top {
  transform: translateY(8px) rotate(45deg);
}

.hide-bar-middle {
  width: 0px !important;

  opacity: 0.0;
}

.rotate-bar-bottom {
  transform: translateY(-8px) rotate(-45deg);
}

#main-logo {
  position: absolute;
  top: -3px;
  left: 0;
  right: 0;

  width: auto;
  height: auto;
  margin: auto;

  text-align: center;
  font-family: "Satisfy", cursive;
  font-size: 50px;
  color: white;
}

#search-icon {
  z-index: 30;
  position: absolute;
  top: 19px;
  left: auto;
  right: 20px;

  font-size: 1.5em;
  color: white;

  cursor: pointer;

  transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
}

#search-close-icon {
  z-index: 30;
  position: absolute;
  top: 17px;
  right: 19px;

  width: 27px;

  cursor: pointer;

  transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
}

#search-close-bar-top {
  transform: translateY(8px) rotate(45deg);
}

#search-close-bar-bottom {
  transform: translateY(-8px) rotate(-45deg);
}

.hide-search-icon {
  transform: scale(0.0);

  opacity: 0.0;
}

.show-search-icon {
  transform: scale(1.0);

  opacity: 1.0;
}

#navbar-dropdown {
  z-index: 20;
  position: fixed;
  top: 30px;

  width: 100%;
  height: 40px;

  background-color: rgb(47, 106, 93);

  -webkit-user-select: none;
  user-select: none;

  transition: transform 300ms ease-in-out;
}

.dropdown-button {
  z-index: 20;
  position: absolute;

  width: 50%;
  height: 100%;
  padding-top: 11px;

  text-align: center;
  font-size: 16px;
  color: white;

  cursor: pointer;
}

.dropdown-button:active {
  box-shadow: inset 0 0 40px DarkSlateGray;
}

#dropdown-button-saved {
  left: 0;
}

#dropdown-spacer {
  z-index: 30;
  position: absolute;
  left: 0;
  right: 0;

  width: 1px;
  height: 100%;
  margin: auto;

  border-left: 1px solid rgba(255, 255, 255, 0.6);
}

#dropdown-button-find-new {
  right: 0;
}

#search-dropdown {
  z-index: 20;
  position: fixed;
  top: 30px;

  width: 100%;
  height: 40px;

  background-color: rgb(47, 106, 93);

  -webkit-user-select: none;
  user-select: none;

  transition: transform 300ms ease-in-out;
}

#search-bar-container {
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;

  width: 40%;
  min-width: 225px;

  height: 25px;
  margin: auto;
}

#search-bar {
  -webkit-appearance: none;
  -webkit-border-radius: 0;

  position: absolute;
  left: -30px;
  right: 0;

  width: 100%;
  height: 25px;
  margin: auto;
  padding-left: 4px;
  padding-right: 4px;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;

  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  background-color: white;
  background-color: rgb(47, 106, 93);
  outline: none;

  cursor: text;
}

#search-bar::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

#search-icon-dropdown {
  z-index: 30;
  position: absolute;
  right: -14px;

  font-size: 1.5em;
  color: white;

  cursor: pointer;
}

#body-grid-container {
  position: relative;
  top: 80px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 80px;

  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 60px;

  -webkit-user-select: none;
  user-select: none;

  transition: transform 300ms ease-in-out, opacity 500ms ease-in-out;
}

#saved-recipe-list-title {
  position: relative;
  top: 10px;

  grid-column: span 5;

  height: auto;
  margin-top: 20px;
  margin-bottom: -30px;

  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: white;
}

#category-container {
  grid-column: span 3;

  height: 40px;

  border-bottom: 1px solid white;
}

#category-row-top {
  position: absolute;

  display: inline-block;

  height: 40px;
}

#category-row-bottom {
  position: absolute;

  top: 107px;

  left: 155.45px;

  display: inline-block;

  height: 40px;
}

.category-item {
  position: relative !important;
  top: 17px;

  display: inline-block;

  padding-left: 10px;
  padding-right: 10px;

  font-size: 16px;
  color: white;

  cursor: pointer;
}

.category-active {
  border-bottom: 4px solid rgb(76, 211, 182);
}

#sort-by-select {
  grid-column: span 2;

  height: 40px;

  outline: none;
}

#add-recipe-tile {
  position: relative;

  grid-column: span 1;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 150px;

  border: 1px solid rgb(76, 211, 182);
  background-color: rgb(0, 0, 0);

  opacity: 1;

  text-decoration: none;
  cursor: pointer;
}

#add-recipe-tile-header {
  position: absolute;

  margin-top: -93px;

  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: 300;
  color: white;

  pointer-events: none;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#add-recipe-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  width: 100px;
  height: 100px;

  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 80px;

  background-color: rgb(47, 106, 93);
  border-radius: 100%;

  cursor: pointer;
}

.tile {
  grid-column: span 1;

  height: 150px;

  border: 1px solid rgb(76, 211, 182);
  background-color: rgb(0, 0, 0);
  background-position: center;
  background-size: cover;

  opacity: 0;

  cursor: pointer;

  text-decoration: none;
}

.tile-link {
  text-decoration: none;
}

.tile-header {
  margin-top: -31px;
  /* margin-top: -54px; */

  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: 300;
  color: white;

  pointer-events: none;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tile-fade-in {
  opacity: 1.0;
  transition: opacity 1000ms ease-in-out;
}

#search-result-none {
  grid-column: span 5;

  position: relative;
  top: -30px;

  height: auto;
  height: 40px;
  padding-top: 9px;

  text-align: center;
  font-size: 16px;
  color: white;

  background-color: black;
  border: 1px solid rgb(76, 211, 182);

  opacity: 0;
}

.search-fade-in {
  opacity: 1.0 !important;
  transition: opacity 1000ms ease-in-out;
}

footer {
  z-index: 0;
  position: relative;
  top: -42px;

  width: 100%;
  height: 42px;

  text-align: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);

  -webkit-user-select: none;
  user-select: none;

  transition: opacity 500ms ease-in-out;
}





/* -------------------------- MEDIA QUERY <= 1000 -------------------------- */
@media screen and (max-width: 1000px) {
  #body-grid-container {
    grid-template-columns: repeat(4, 1fr);
  }

  #saved-recipe-list-title {
    grid-column: span 4;
  }

  #category-container {
    position: relative;
    top: -20px;

    grid-column: span 2;
  }

  #category-row-top {
    left: 0;
    right: 0;

    text-align: center;
  }

  #category-row-bottom {
    top: 25px;
    left: 0;
    right: 0;

    text-align: center;
  }

  #search-result-none {
    grid-column: span 4;
  }
}



/* -------------------------- MEDIA QUERY <= 800 -------------------------- */
@media screen and (max-width: 800px) {
  #body-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  #saved-recipe-list-title {
    grid-column: span 3;
  }

  #category-container {
    grid-column: span 3;
  }

  #sort-by-select {
    grid-column: span 3;

    margin-top: -40px;
  }

  #search-result-none {
    grid-column: span 3;
  }
}



/* -------------------------- MEDIA QUERY <= 600 -------------------------- */
@media screen and (max-width: 600px) {
  #body-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  #saved-recipe-list-title {
    grid-column: span 2;
  }

  #category-container {
    grid-column: span 2;
  }

  #category-container {
    grid-column: span 2;
  }

  #sort-by-select {
    grid-column: span 2;
  }

  #search-result-none {
    grid-column: span 2;
  }
}



/* -------------------------- MEDIA QUERY <= 400 -------------------------- */
@media screen and (max-width: 400px) {
  #body-grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  #saved-recipe-list-title {
    grid-column: span 1;
  }

  #category-container {
    grid-column: span 1;
  }

  #sort-by-select {
    grid-column: span 1;
  }

  #search-result-none {
    grid-column: span 1;
  }
}
