* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  cursor: default;
}

body {
  background-color: rgb(36, 38, 40);
}

#navbar {
  z-index: 20;
  position: fixed;
  top: 0;

  width: 100%;
  height: 70px;

  background-color: rgb(59, 135, 118);
}

#hamburger-menu {
    z-index: 20;
    position: absolute;
    top: 17px;
    left: 20px;

    width: 27px;

    cursor: pointer;
  }

  .hamburger-bar {
    width: 25px;
    height: 2px;
    margin: 6px 0;

    color: white;

    border-radius: 10px;
    background-color: white;

    cursor: pointer;
  }

#main-logo {
  position: absolute;
  top: -3px;
  left: 0;
  right: 0;

  width: auto;
  height: auto;
  margin: auto;

  text-align: center;
  font-family: 'Satisfy', cursive;
  font-size: 50px;
  color: white;

  user-select: none;
}

#search-icon {
  z-index: 20;
  position: absolute;
  top: 18px;
  left: auto;
  right: 20px;

  font-size: 1.5em;
  color: white;

  cursor: pointer;
}

#body-grid-container {
  position: relative;
  top: 110px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 80px;

  margin-left: 40px;
  margin-right: 40px;
}

#category-container {
  grid-column: span 3;

  height: 40px;

  border-bottom: 1px solid white;

  user-select: none;
}

#category-row-top {
  position: absolute;

  display: inline-block;

  height: 40px;
}

#category-row-bottom {
  position: absolute;
  left: 155.45px;

  display: inline-block;

  height: 40px;
}

.category-item {
  z-index: 10;
  position: relative !important;
  top: 18px;

  display: inline-block;

  padding-left: 10px;
  padding-right: 10px;

  font-family: sans-serif;
  font-size: 16px;
  color: white;

  cursor: pointer;
}

.category-active {
  border-bottom: 4px solid rgb(76, 211, 182);
}

#sort-by-button {
  grid-column: span 2;

  height: 40px;

  outline: none;
}

.tile {
  grid-column: span 1;

  height: 150px;

  border: 1px solid rgb(76, 211, 182);
  background-color: rgb(0, 0, 0);
  background-position: center;
  background-size: cover;

  opacity: 0;

  cursor: pointer;
}

.tile-header {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: -30px;

  font-family: sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: white;
  /* text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; */
}

.tile-fade-in {
  opacity: 1.0;
  transition: opacity 1000ms ease-in-out;
}





/* -------------------------- MEDIA QUERY <= 1000 -------------------------- */
@media screen and (max-width: 1000px) {
  #body-grid-container {
    grid-template-columns: repeat(4, 1fr);
  }

  #category-container {
    position: relative;
    top: -20px;

    grid-column: span 2;
  }

  #category-row-top {
    left: 0;
    right: 0;

    text-align: center;
  }

  #category-row-bottom {
    top: 25px;
    left: 0;
    right: 0;

    text-align: center;
  }
}



/* -------------------------- MEDIA QUERY <= 800 -------------------------- */
@media screen and (max-width: 800px) {
  #body-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  #category-container {
    grid-column: span 3;
  }

  #sort-by-button {
    grid-column: span 3;

    margin-top: -40px;
  }
}



/* -------------------------- MEDIA QUERY <= 600 -------------------------- */
@media screen and (max-width: 600px) {
  #body-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  #category-container {
    grid-column: span 2;
  }

  #category-container {
    grid-column: span 2;
  }

  #sort-by-button {
    grid-column: span 2;
  }
}



/* -------------------------- MEDIA QUERY <= 400 -------------------------- */
@media screen and (max-width: 400px) {
  #body-grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  #category-container {
    grid-column: span 1;
  }

  #sort-by-button {
    grid-column: span 1;
  }
}
