#new-recipe-list-title {
  display: none;

  grid-column: span 5;

  position: relative;
  top: 40px;

  height: auto;

  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: white;
}

#badge-clone-container {
  display: none;

  position: absolute;
  top: 77px;

  left: 0;
  right: 0;

  height: auto;
  margin: auto;
}


#edamam-badge-mask-clone-link {
  top: 0px;
}

#new-recipe-search-result-container {
  display: none;

  grid-column: span 3;

  height: 40px;
  padding-top: 17px;

  font-size: 16px;
  color: white;

  border-bottom: 1px solid white;
}

#new-search-result-title {
  display: inline-block;
}

#new-search-result-term {
  display: inline-block;
}

#sort-by-select-new-recipe {
  display: none;

  grid-column: span 2;

  height: 40px;

  outline: none;
}

#new-recipe-search-spinner {
  display: none;

  z-index: 20;
  position: absolute;
  top: 238px;
  left: 0;
  right: 0;

  height: 40px;
  width: 40px;
  margin: auto;

  border: 2px solid white;
  border-top-color: transparent;
  border-radius: 50%;

  opacity: 1.0;

  transition: opacity 200ms ease-in-out;
}

.rotate-search-spinner {
  animation: rotateSpinner 2.5s infinite linear;
}

@keyframes rotateSpinner {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

#new-recipe-search-spinner-background {
  display: none;

  z-index: 10;
  position: absolute;
  top: 238px;
  left: 0;
  right: 0;

  height: 40px;
  width: 40px;
  margin: auto;

  border: 2px solid rgb(59, 135, 118);
  border-radius: 50%;

  opacity: 1.0;

  transition: opacity 200ms ease-in-out;
}

.fade-out-search-spinner {
  opacity: 0.0 !important;
}





/* -------------------------- MEDIA QUERY <= 1000 -------------------------- */
@media screen and (max-width: 1000px) {
  #new-recipe-list-title {
    grid-column: span 4;
  }

  #new-recipe-search-result-container {
    grid-column: span 2;
  }

  #sort-by-select-new-recipe {
    grid-column: span 2;
  }
}



/* -------------------------- MEDIA QUERY <= 800 -------------------------- */
@media screen and (max-width: 800px) {
  #new-recipe-list-title {
    grid-column: span 3;
  }

  #badge-clone-container {
    top: 81px;
  }

  #new-recipe-search-result-container {
    grid-column: span 3;

    text-align: center;
  }

  #new-search-result-term {
    display: block;

    padding-top: 7px;
  }

  #sort-by-select-new-recipe {
    grid-column: span 3;

    margin-top: -40px;
  }

  #new-recipe-search-spinner {
    top: 318px;
  }

  #new-recipe-search-spinner-background {
    top: 318px;
  }
}



/* -------------------------- MEDIA QUERY <= 600 -------------------------- */
@media screen and (max-width: 600px) {
  #new-recipe-list-title {
    grid-column: span 2;
  }

  #new-recipe-search-result-container {
    grid-column: span 2;
  }

  #sort-by-select-new-recipe {
    grid-column: span 2;
  }
}



/* -------------------------- MEDIA QUERY <= 400 -------------------------- */
@media screen and (max-width: 400px) {
  #new-recipe-list-title {
    grid-column: span 1;
  }

  #new-recipe-search-result-container {
    grid-column: span 1;
  }

  #sort-by-select-new-recipe {
    grid-column: span 1;
  }
}
