/* .navbar-retract-all {
  transform: translateY(-70px);
}

.new-recipe-finder-screen-retract {
  transform: translateY(-130px);
} */

#new-recipe-finder-title {
  display: none;

  grid-column: span 5;

  height: auto;

  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: white;

  -webkit-user-select: none;
  user-select: none;

  transition: transform 300ms ease-in-out;
}

#new-recipe-finder-form-container {
  display: none;

  grid-column: span 5;

  height: auto;

  text-align: center;

  -webkit-user-select: none;
  user-select: none;

  transition: transform 300ms ease-in-out;
}

#new-recipe-search-bar {
  -webkit-appearance: none;
  -webkit-border-radius: 0;

  width: 80%;
  height: 40px;
  padding-left: 4px;
  padding-right: 4px;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: black;

  border: none;
  border-radius: 0;
  background-color: white;
  outline: none;

  cursor: text;

  transition: transform 300ms ease-in-out;
}

#edamam-badge-mask {
  z-index: 20;

  position: absolute;
  top: 102px;
  left: 125px;
  right: 0;

  height: 48px;
  width: 202px;
  margin: auto;

  cursor: pointer;
}

#edamam-badge {
  position: relative;
  top: -100px;
  left: 63px;
  right: 0;

  width: 200px;
  margin: auto;
}

#new-recipe-search-button {
  width: 20%;
  height: 40px;
  margin: auto;
  padding-top: 10px;

  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;

  border-radius: 10px;
  background-color: rgb(47, 106, 93);
  outline: none;

  cursor: pointer;
}

#new-recipe-search-button:active {
  box-shadow: inset 0 0 40px DarkSlateGray;
}




/* -------------------------- MEDIA QUERY <= 1000 -------------------------- */
@media screen and (max-width: 1000px) {
  #new-recipe-finder-title {
    grid-column: span 4;
  }

  #new-recipe-finder-form-container {
    grid-column: span 4;
  }

  #new-recipe-search-button {
    width: 25%;
  }
}



/* -------------------------- MEDIA QUERY <= 800 -------------------------- */
@media screen and (max-width: 800px) {
  #new-recipe-finder-title {
    grid-column: span 3;
  }

  #new-recipe-finder-form-container {
    grid-column: span 3;
  }

  #new-recipe-search-button {
    width: 30%;
  }
}



/* -------------------------- MEDIA QUERY <= 600 -------------------------- */
@media screen and (max-width: 600px) {
  #new-recipe-finder-title {
    grid-column: span 2;
  }

  #new-recipe-finder-form-container {
    grid-column: span 2;
  }

  #new-recipe-search-bar {
    width: 100%;
  }

  #edamam-badge-mask {
    left: 0;
    right: 0;

    margin: auto;
  }

  #edamam-badge {
    left: 0;
    right: 0;

    margin: auto;
  }

  #new-recipe-search-button {
    width: 40%;
  }
}



/* -------------------------- MEDIA QUERY <= 400 -------------------------- */
@media screen and (max-width: 400px) {
  #new-recipe-finder-title {
    grid-column: span 1;
  }

  #new-recipe-finder-form-container {
    grid-column: span 1;
  }

  #new-recipe-search-button {
    width: 45%;
  }
}
